<% if current_user %>

  <% if current_user.id == 67 %>
    <h1 class='center-align'> Hello Admin! </h1>

    <% @ordered.each do |enum| %>

      <span id='result'>
        <p class='center-no-pad'><%= enum[0].username %> got a <%= enum[1].score %></p>
        <p class='center-no-pad'><%= enum[0].email %></p>
      </span>

    <% end %>

  <% else %>
    <script type="text/javascript">
      window.location.replace("https://personality-analyzer.herokuapp.com/");
    </script>
    <noscript><h1 class='center-align'> Nice Try! Please go back. </h1></noscript>
  <% end %>

<% end %>
