<% if current_user %>

  <% if current_user.id == 67 %>
    <h1 class='center-align'> Hello Admin! </h1>
    <div class='center-no-pad'>
      <form class='button' action="/sessions" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Logout">
      </form>
    </div>

    <div id='results'>
      <h3 class='center-no-pad'>Top Performers</h3>
      <% @ordered.each do |enum| %>

        <span id='result'>
          <p class='center-no-pad'><em><%= enum[0].username %></em> got a <%= enum[1].score %></p>
          <p class='center-no-pad'>
            <strong><a href="http://www.spokeo.com/social/profile?q=<%= enum[0].email %>"><%= enum[0].email %></a></strong><br>
            ________________________________
          </p>
        </span>

      <% end %>
    </div>

  <% else %>
    <script type="text/javascript">
      window.location.replace("https://personality-analyzer.herokuapp.com/");
    </script>
    <noscript><h1 class='center-align'> Nice Try! Please go back. </h1></noscript>
  <% end %>

<% end %>
